.ol-map {
  min-width: 90%;
  min-height: 70%;
  margin: 50px auto;
  height: 500px;
}

.ol-map:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.ol-map:active {
  cursor: -webkit-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ol-control {
  position: absolute;
  background-color: rgba(15, 1, 210, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}
