.ol-map {
  height: 80vh;
  margin: 1rem 0;
}

.ol-control {
  position: absolute;
  background-color: rgba(15, 1, 210, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}
